
* {
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  height: 100%;
}


.header {
  background-color: cyan;
  font-size: 4rem;
}

.content {
  flex: 1;
  background-color: slategray;
  font-size: 10rem;
}

.footer {
  background-color: cyan;
}

.menu {
  height: 100%;
  width: 300px;
  background-color: green;
  position: fixed;
  display: none;
  font-size: 4rem;
  font-weight: bold;
  font-family: sans-serif;
  z-index: 2;
}

.header:hover {
  background-color: rgb(10, 248, 248);
}


.visible {
  display: block;
}

.img-wrapper {
  background-color: slateblue;
  box-sizing: border-box;
  width: 70vw;
  height: 70vw;
  padding: 20px;
  margin: 14vw;
  margin-top: 3vw;
  position: relative;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.left,
.right {
  position: absolute;
  top: 47%;
  font-size: 3rem;
}

.right {
  right: 20px;
}

.dot {
  width: 30px;
  height: 30px;
  background-color: rgba(243, 146, 26, 0.6);
  font-size: 1rem;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.dot-container {
  position: absolute;
  display: flex;
  gap: 5px;
}




button {
  height: 70px;
  color: cyan;
  font-weight: bold;
  background-color: rgba(1, 1, 1, 0.4);
}