@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

:root {
  --dark: #365314; /* lime 900 */
  --accent: #a3e635; /* lime 400 */
  --bg: #f7fee7; /* lime 50 */
  --text: #fdfff6;
  --grad-horz: linear-gradient(to right, var(--accent), #65a30d);
  --grad-vert: linear-gradient(to bottom, var(--accent), #65a30d);
}

* {
  margin: 0;
  color: var(--text);
  font-family: 'Fredoka', sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark);
  font-size: 5rem;
  border-bottom: 5px solid;
  border-image: var(--grad-horz) 1;
  width: 100%;
  position: fixed;
  z-index: 1;
  box-shadow: 0 0 12px 2px rgb(51, 51, 51);
}

.content {
  flex: 1;
  font-size: 5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}

.background {
  padding-top: 370px;
  background: rgba(1, 1, 1, 0.28) url("./img/printfarm.jpg");
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  position: fixed;
  width: 100vw;
  height: 100vh;

  z-index: -2;
}

.title {
  margin-top: 120px;
}

.footer {
  background-color: var(--dark);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  padding: 4px;
  gap: 8px;
  box-shadow: 0 0 12px 2px rgb(32, 32, 32);
}

.footer img {
  width: 23px;
}

.menu {
  box-sizing: border-box;
  height: 100%;
  width: 300px;
  background-color: #3f6212;
  position: fixed;
  display: none;
  font-size: 4rem;
  font-weight: bold;
  z-index: 3;
  border-left: 5px solid;
  border-image: var(--grad-vert) 1;
  box-shadow: 0 0 12px 2px rgb(59, 59, 59);
}

.menu-darken {
  width: 100vw;
  height: 100vh;
  background-color:rgba(1, 1, 1, 0.4);
  z-index: 2;
  position:fixed;
  display: none;
  left: 300px;
}

.visible {
  display: block;
}

.img-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--grad-horz);
  box-sizing: border-box;
  width: min(70vw, 770px);
  height: min(70vw, 770px);
  padding: 18px;
  border-radius: 18px;
  box-shadow: 0 0 12px 0 rgb(82, 82, 82);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.left,
.right {
  position: absolute;
  font-size: 3rem;
  opacity: 0.8;
}

.right {
  right: 20px;
}

.left {
  left: 20px;
}

.dot {
  width: 30px;
  height: 30px;
  background-color: #a3e63599;
  font-size: 1rem;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 4px 0px rgb(56, 56, 56);
}

.dot-container {
  position: absolute;
  display: flex;
  gap: 5px;
  bottom: 26px;
}

.desc {
  box-sizing: border-box;
  font-size: 3rem;
  width: min(70vw, 850px);
  margin-top: 25px;
  border-radius: 18px;
  padding: 8px;
  padding-left: 20px;
  background-color: #ecfccb4c;
  backdrop-filter: blur(7px);
  box-shadow: 0 0 12px 0 rgb(82, 82, 82);

  height: auto; /* testing w/ .desc-grad */
  overflow: hidden;
}

.desc-grad {
  height: 100%;
  width: 16px;
  background-image: var(--grad-vert);
  position: absolute;
  left: 0;
  top: 0;
}

.desc * {
  color: var(--bg);
}

.price {
  display: flex;
}

.price-value {
  margin-left: 17vw;
}

.desc-text {
  color: black;
  font-family: sans-serif;

  font-size: 2.3rem;
}


button {
  height: 70px;
  color: cyan;
  font-weight: bold;
  background-color: rgba(1, 1, 1, 0.4);
  border-width: 0px;
}

#menu,
#close {
  font-size: 64px;
  position: absolute;
  left: 20px;
}

@media only screen and (max-width: 500px) {
  .img-wrapper {
    width: 95vw;
    height: 95vw;
    padding: 11px;
  }

  .header {
    font-size: 3rem;
    padding: 5px;
  }

  .title {
    font-size: 2.9rem;
    text-align: center;
  }

  .left, 
  .right {
    font-size: 2rem;
  }

  .desc {
    width: 95vw;
    font-size: 2rem;
    border-radius: 10px;
  }

  .desc-grad {
    width: 11px;
  }

  .desc-text {
    font-size: 1.4rem;
  }

  .menu {
    width: 250px;
    font-size: 3rem;
  }

  .menu-darken {
    left: 250px;
  }

  #menu {
    font-size: 44px;
    left: 10px;
  }

  #close {
    margin: 0px;
    padding: 0px;
    left: 0px;
  }
}

p {
  color: var(--bg);
  text-shadow: 0 0 5px black;
}

.menu-link {
  text-align: center;
  padding-top: 20px;
}

.menu>*+* {
  opacity: 0.3;
}

a {
  text-decoration: none;
}

